.header {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.theme-light.header {
    background-color: #3D74B6;
}
.theme-dark.header {
    background-color: #0F0F0F;
}
.theme-pastel.header {
    background-color: #57564F;
}

.hello-user {
    display: flex;
    width: 288px;
    height: 45px;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;


}
.motivate {
    display: flex;
    color: white;
    height: 45px;
    width: 900px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}