.header {
    background: #132a13;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.hello-user {
    display: flex;
    width: 288px;
    height: 45px;
    font-size: 30px;
    color: white;
    justify-content: center;
    align-items: center;


}
.motivate {
    display: flex;
    color: white;
    height: 45px;
    width: 540px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}