.sidebar {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width: 100px;
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;

}
.home_button {
    width: 100px;
    height: 350px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home_button:hover{
    background: linear-gradient(90deg,rgb(35, 103, 130) 0%, rgb(72, 168, 112) 50%, rgb(193, 180, 66) 100%);
}
.home_button:active{
    background: linear-gradient(90deg,rgb(35, 103, 130) 0%, rgb(72, 168, 112) 50%, rgb(193, 180, 66) 100%);
    box-shadow: 1px 0px 5px black;
}
.home_icon {
    width: 30px;
    display: flex;
}
.graph_button {
    width: 100px;
    height: 350px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.graph_button:hover{
    background: linear-gradient(90deg,rgb(35, 103, 130) 0%, rgb(72, 168, 112) 50%, rgb(193, 180, 66) 100%);
}
.graph_button:active{
    background: linear-gradient(90deg,rgb(35, 103, 130) 0%, rgb(72, 168, 112) 50%, rgb(193, 180, 66) 100%);
    box-shadow: 1px 0px 5px black;
}
.graph_icon {
    width: 40px;
    display: flex;
}