.sidebar {
    background: #132a13;
    width: 100px;
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;

}
.home_button {
    width: 100px;
    height: 350px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.home_button:hover{
    background: #1a391a;
}
.home_button:active{
    background: #1a391a;
    box-shadow: 1px 0px 5px black;
}
.home_icon {
    width: 30px;
    display: flex;
}
.graph_button {
    width: 100px;
    height: 350px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.graph_button:hover{
    background: #1a391a;
}
.graph_button:active{
    background: #1a391a;
    box-shadow: 1px 0px 5px black;
}
.graph_icon {
    width: 40px;
    display: flex;
}