.todo-scroll {
    padding-top: 10px;
    height: 1000px;
    width: 800px;
    background-color: rgb(155, 173, 141);
    overflow-y: auto;
}
.taskcard {
    width: 700px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.done {
    background-color: rgb(48, 145, 48);
}
.inprogress {
    background-color: rgb(189, 189, 85);
}
.undone {
    background-color: rgba(255, 0, 0, 0.532);
}
.task-info {
    margin: 0;
    font-size: 20px;
    max-width: 600px;
    word-wrap: break-word;      
    overflow-wrap:break-word;
    white-space: normal; 
}
.button-row {
    display: flex;
    align-items: center;
}
.toggle-status {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: none;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}
.toggle-status:hover {
    background-color: rgb(143, 134, 134);
}
.remove-button {
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}
.remove-button:hover {
    background-color: rgb(143, 134, 134);
}
.remove-icon {
    width: 30px;
}
.input-bar {
    width: 700px; 
    height: 30px;
    margin-left: 20px;
    padding-left: 30px;
    border: none;
    border-radius: 100px;
    font-size: larger;
}
.notasktodo {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.add-row {
    display: flex;
    justify-content: center;
}
.add-button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    margin-left: 5px;
}  
.add-button:hover {
    background-color: rgb(143, 134, 134);
} 
.add-icon {
    width: 35px;
}