body {
    margin-left: 100px;
    margin-top: 45px;
}
body.theme-light  {
    background-color: #EAC8A6;
}
body.theme-dark  {
    background-color: #232D3F;
}
body.theme-pastel  {
    background-color: #7A7A73;
}